body {
    background: url("Img/Achtergrond.png") no-repeat;
    margin: auto;
}
/*---------------------------------Header-----------------------------------*/
.header {
    width: 100%;
    height: 17%;
    position: absolute;
    background: black;
}
.titel {
    width: 25%;
    margin-left: 1%;
}
ul {
    list-style-type: none;
    margin-left: 45%;
    margin-top: -5%;
}

li {  float: left;  }

li a {
    display: block;
    color: #bdae75;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}
.container {
    background-color: black;
}

.container a {
    float: left;
    font-size: 1rem;
    padding: 14px 16px;
}
.dropbtn {
    font-family: "Times New Roman";
}


.dropdown .dropbtn {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    color: #bdae75;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bdae75;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*------------------------------------Main-------------------------------*/
.blok {
    width: 65%;
    height: 78%;
    position: absolute;
    background-color: wheat;
    margin-top: 8.6%;
    margin-left: 25%;
}

.lastpost {
    height: 30%;
    width: 15%;
    position: absolute;
    margin-top: 8.6%;
    margin-left: 10%;
    background: #292F33;
}
.twitter {
    height: 43%;
    width: 15%;
    position: absolute;
    margin-top: 24%;
    margin-left: 10%;

}

/*-------------------------------Home pagina---------------------------------*/
.serieafb {
    position: absolute;
    width: 35%;
    height: 30%;
    margin-left: 5%;
    margin-top: 10%;
}

.castafb {
    position: absolute;
    width: 35%;
    height: 30%;
    margin-left: 5%;
    margin-top: 40%;
}

.comicsafb {
    position: absolute;
    width: 35%;
    height: 30%;
    margin-left: 50%;
    margin-top: 10%;
}
.gamesafb {
    position: absolute;
    width: 35%;
    height: 30%;
    margin-left: 50%;
    margin-top: 40%;
}

/*----------------------------------------Footer----------------------------*/
.footer {
    height: 5%;
    width: 100%;
    background: black;
    position: absolute;
    margin-top: 47.7%;
    color: #bdae75;
    text-align: center;
}

/*------------------------------------------Login scherm----------------------------------*/

.bloklogin {
    width: 55%;
    height: 68%;
    position: absolute;
    background-color: wheat;
    margin-top: 11%;
    margin-left: 25%;
}
.email {
    position: absolute;
    width: 30%;
    font-size: 1.5rem;
    margin-left: 33%;
    margin-top: 15%;
}
.wachtwoord {
    position: absolute;
    width: 30%;
    font-size: 1.5rem;
    margin-top: 20%;
    margin-left: 33%;
}
.loginknop {
    font-size: 1.5rem;
    color: #bdae75 ;
    background-color: black;
    width: 15%;
    height: 10%;
    position: absolute;
    margin-top: 25%;
    margin-left: 55%;
}
.registerknop {
    font-size: 1.5rem;
    color: #bdae75 ;
    background-color: black;
    width: 25%;
    height: 10%;
    position: absolute;
    margin-top: 25%;
    margin-left: 22%;

}




/*---------------------------------Registreren--------------------------*/




